
h1 {
    color: rgb(79, 42, 165);
    font-family: 'Times New Roman';
    font-size: 32px;
}

p {
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: underline;
}

p.my-style {
    color: rgb(112, 165, 42);
    font-family: Times;
    font-size: 24px;
}

 